@charset "UTF-8";
/* Color inicial */
/* Color intermedio */
/* Color final transparente */
:root {
  --background: #1b262c;
  --text: #F8F8FF;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Caladea", Arial, sans-serif;
  height: 100vh;
  padding: 6rem 2rem;
  background: var(--background);
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 1200px;
  gap: 5rem;
  padding: 0rem;
}

.articles article {
  max-width: 20rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(129, 66, 86, 0.5) 0px 7px 29px 0px;
}

.articles article h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.6rem;
  color: var(--text);
  transition: color 0.3s ease-out;
  text-align: center;
}

.articles article img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.9s ease-in-out;
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  object-fit: cover;
}

.articles article p {
  color: var(--text);
}

.articles article:hover img {
  transform: scale(1.5);
}

.article-preview {
  padding: 1.5rem;
  background: #814256;
  height: 19rem;
}

.articles figure {
  width: 100%;
  height: 14rem;
  overflow: hidden;
  height: 25rem;
  margin: auto;
}

body {
  font-family: "Caladea", Arial, sans-serif;
  background: url("../img/2000_5ccaaea221073.jpg");
  background-size: cover; /* Ajusta el tamaño para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  transition: background-position 0.3s ease-out;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

main {
  margin: auto 0;
  background-color: #1b262c;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 16px;
  background-color: transparent;
  height: 100px;
  transition: height 0.35s, background-color 0.35s, font-size 0.35s;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  color: #fdfdfd;
  text-decoration: none;
  font-family: "Caladea", Arial, sans-serif;
  margin-left: 15px;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-scrolled {
  font-size: 16px; /* Ajusta el tamaño de fuente deseado */
  background-color: #814256 !important; /* Color de fondo cuando se hace scroll */
  height: 60px; /* Ajusta la altura deseada */
}

.nav-link.active {
  color: #000; /* Cambia este color al deseado */
  font-weight: bold; /* Añade un estilo de fuente para resaltar */
}

.navbar-nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.navbar-nav .nav-item {
  margin-right: 15px;
}
.navbar-nav .nav-item .nav-link {
  color: #eedde2;
  text-decoration: none;
  padding: 5px 10px;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #eedde2;
}

header {
  font-size: 16px;
  font-family: "Caladea", Arial, sans-serif;
  position: sticky; /* Cambiado a sticky */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el header esté por encima del contenido */
  transition: background-color 0.9s ease; /* Transición suave para el cambio de color */
}

nav img {
  max-height: 70px;
  margin-top: -10px;
}

p {
  color: #000000;
}

.titulo h1,
.titulo h2 .titulo h3 {
  font-family: "Caladea", Arial, sans-serif;
}

h3 {
  color: black;
  -webkit-text-stroke: 1px #fdfdfd;
}

h2 {
  color: #fdfdfd;
  font-size: 30px;
}

.titulo {
  display: flex; /* Cambiado de grid a flex para facilitar el centrado */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 100vh; /* Ajusta la altura según sea necesario */
  background-attachment: fixed;
  background-size: cover;
  padding: 35px 0;
  color: #fff;
  text-align: center;
}

.divider {
  width: 20%;
  margin: 20px auto;
  border: none;
  height: 6px;
  background-color: #814256;
  opacity: 1;
}

.texto-animado {
  animation: slideInUp 0.6s ease-out both;
  padding: 20px;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.texto-borde {
  text-shadow: 0.03em 0.03em 3px rgb(0, 0, 0);
  font-size: 50px;
  color: #fdfdfd;
}

.titulo article {
  text-align: center;
  padding: 20px 20px; /* Ajusta el espacio interno */
  max-width: 30rem; /* Limita el ancho del contenido si es necesario */
  margin: 10px; /* Centra el contenido horizontalmente */
  height: 25rem;
}

.card-body {
  border-radius: 1px 1px 16px 16px;
}

footer {
  border: 1px solid #000000;
  text-align: center;
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  background-color: #1b262c;
}

footer h3 {
  width: 100%;
}

footer div {
  margin-top: 10px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
}

footer img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.1);
}

.subtexto-borde {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b262c;
  color: #ffffff;
  height: 100%;
}

.about-section {
  background-color: #f5f5f5;
  padding: 9rem;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 30px;
  color: #1b262c;
  text-align: left;
  margin-bottom: 20px;
}

.text h2 .divider {
  margin-left: 0px;
  width: 20%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  height: 65vh;
}

.text {
  flex: 1;
  min-width: 300px;
  padding-right: 20px;
  color: #333;
}

.text p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 20px;
}

.image-container {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(129, 66, 86, 0.5) 0px 7px 29px 0px;
}

h2.definiciones {
  text-align: center;
  margin: 1rem;
  padding: 5rem;
  height: 1rem;
}

.instru {
  height: 100vh;
  padding: 0rem;
}

h2.productos {
  text-align: center;
  margin: 1rem;
  padding: 3rem;
  height: 1rem;
}

.carousel-control-prev {
  left: 10rem;
}

.carousel-control-next {
  right: 10rem;
}

.carousel-indicators {
  position: relative;
}

.carousel-indicators [data-bs-target] {
  bottom: 20px;
  height: 6px;
  left: -3px;
  background-color: #814256;
  margin-bottom: -1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(52%) sepia(42%) saturate(393%) hue-rotate(289deg) brightness(92%) contrast(92%);
}

.articles .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* Mostrar carrusel de escritorio en pantallas grandes */
@media (min-width: 992px) {
  #aprendemos {
    display: block;
  }
  #temas {
    display: none;
  }
}
/* Mostrar carrusel móvil en pantallas más pequeñas */
@media (max-width: 991.98px) {
  #aprendemos {
    display: none;
  }
  #temas {
    display: block;
  }
}
@media (min-width: 992px) {
  #aprendemos {
    visibility: visible;
    padding: 50px 0;
  }
  #temas {
    visibility: hidden;
  }
}
@media (max-width: 991.98px) {
  #aprendemos {
    visibility: hidden;
  }
  #temas {
    visibility: visible;
  }
}
/* Ajuste de columnas en pantallas pequeñas */
@media (max-width: 576px) {
  .articles .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
#servicios {
  background-color: #f5f5f5; /* Fondo blanco */
  color: #333333; /* Color del texto principal para buen contraste */
  padding: 9rem;
}

#servicios h2, #servicios h2, #servicios p, #servicios ul, #servicios li {
  color: #333333; /* Asegura un buen contraste con el fondo blanco */
}

.servicios_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.div-servicios h2 {
  text-align: center;
  color: #1b262c; /* Color más oscuro para el encabezado */
}

h2 .divider {
  width: 6%;
}

.lista {
  font-size: 18px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 24px;
  color: #ffffff;
  background-color: #814256; /* Color destacado para el encabezado */
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.card-body {
  font-size: 16px;
  color: #333;
}

.card {
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Transiciones para mejorar la apariencia */
html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .servicios_card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    padding: 14px;
  }
  .lista {
    font-size: 15px;
    margin: auto;
    padding: 5px;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
/* Contenedor principal */
#contacto {
  background-color: #f5f5f5;
}

/* Título principal */
#contacto h2 {
  color: #333;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 7rem;
}

/* Contenedor de contacto */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding: 0 15rem;
  gap: 2rem;
}

/* Información de contacto */
.contact-info {
  flex: 1;
  padding-right: 2rem;
}

.contact-info h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #666;
}

.contact-info i {
  color: #814256;
  margin-right: 0.5rem;
}

.social-media svg {
  box-shadow: rgba(129, 66, 86, 0.5) 0px 7px 29px 0px;
  width: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.social-media a svg:hover {
  transform: scale(1.1);
  box-shadow: rgba(129, 66, 86, 0.7) 0px 10px 35px 0px;
}

.social-media {
  margin-top: 2rem;
  position: relative;
  left: 7rem;
}

/* Formulario de contacto */
.contact-form {
  flex: 1;
  margin-top: -3rem;
  padding: 2rem;
  border-radius: 8px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  gap: 1rem;
}

.controls {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.botons {
  padding: 0.75rem;
  background-color: #814256;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color 0.3s;
}

.botons:hover {
  background-color: #682d3a;
}

/* Estilos responsive */
@media (max-width: 1024px) {
  .contact-container {
    padding: 0 5rem;
    gap: 1rem;
  }
  .contact-info h1 {
    font-size: 1.75rem;
  }
  .contact-info p {
    font-size: 0.95rem;
  }
  .contact-form {
    padding: 1.5rem;
  }
  .controls {
    font-size: 0.95rem;
    padding: 0.5rem;
  }
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 0 2rem;
  }
  .contact-info, .contact-form {
    margin-bottom: 0rem;
    padding-right: 0;
    padding-left: 0;
  }
  .contact-info h1 {
    font-size: 1.5rem;
  }
  .contact-info p {
    font-size: 0.9rem;
  }
  .controls {
    font-size: 0.9rem;
  }
  .social-media {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
    left: 2px;
  }
  .contact-info i {
    color: #814256;
    margin-right: -0.5rem;
  }
  .contact-container {
    padding: 0 2rem;
  }
}
@media (max-width: 480px) {
  .contact-container {
    padding: 0 2rem;
  }
  .contact-info h1 {
    font-size: 1.25rem;
  }
  .contact-info p {
    font-size: 0.85rem;
  }
  .controls {
    font-size: 0.85rem;
  }
  .botons {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
/* _inicio.scss */
@media (max-width: 600px) {
  /* Estilos para la barra de navegación móvil */
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    font-size: 16px;
    background-color: transparent;
    height: auto;
    transition: height 0.35s, background-color 0.35s, font-size 0.35s;
    padding: 0px;
  }
  header {
    font-size: 16px;
    font-family: "Caladea", Arial, sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.9s ease;
  }
  .navbar-brand {
    width: 15rem;
  }
  .navbar-toggler {
    margin: 0 auto 10px;
    border: solid black;
  }
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
  .navbar-nav .nav-item .nav-link {
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    color: #fdfdfd;
  }
  .texto-borde {
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
  }
  /* Estilos para la sección de inicio */
  section.inicio {
    grid-template-columns: 1fr;
    padding: 27px;
    gap: 20px;
  }
  section.inicio img {
    max-width: 100%;
  }
  body {
    background: url(../img/2000_5ccaaea221073.jpg);
    background-size: cover;
    background-position: center;
    transition: background-position 0.3s ease-out;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  h2.definiciones {
    text-align: center;
    margin: 1rem;
    padding: 2rem;
    height: 1rem;
  }
}
/* _inicio.scss */

/*# sourceMappingURL=style.css.map */
