* {
    font-family: fantasy;
    box-sizing: border-box;
  }
  
  body {
    background: $fondo;
    background-size: 144%;
    color: $primary;
  }
  
  main {
    margin: 40px 0;
    min-height: 1250px;
  }
  
  .titulo article {
    text-align: center;
    height: 500px;
  }
  
  .titulo iframe {
    width: 95%;
    height: 500px;
    display: inline;
    @extend .borde;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    border-radius: 17px;
    font-size: 30px;
    font-family: sans-serif;
    background-image: $fondo-menu;
  }
  
  nav img {
    max-height: 80px;
  }
  
  .content-flex {
    display: flex;
    font-size: 24px;
    padding: 0;
  }
  
  .content-flex span {
    width: 120px;
    text-align: center;
  }
  
  nav {
    height: 80px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
  }
  nav.index {    
    border: solid $secondary;
    border-radius: 20px;
  }
  
  nav a:hover {
    -webkit-text-stroke: 1px $primary;

    
  }
  
  p {
    color: $secondary;
  }
  
  h1 {
    font-size: 90px;
    color: $secondary;
    -webkit-text-stroke: 1px $primary;
  }
  
  h3 {
    color: $secondary;
    -webkit-text-stroke: 1px $primary;
  }
  
  h2 {
    color: $secondary;
    -webkit-text-stroke: 1px $primary;
  }

  h5 {
    -webkit-text-stroke: 1px $secondary;
  }
  
  .texto-animado {
    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  
  @keyframes texto {
    from {
      transform: translateY(1000px) scale(2, 2);
    }
    to {
      transform: translateY(0);
    }
  }

  .titulo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-body { 
  background-image: $fondo-menu;
    border-radius: 1px 1px 16px 16px;
   }

   @include cuadro-inicio();

   footer {
    border: solid $secondary;
    text-align: center;
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  footer h3 {
    width: 100%;
  }