

.header-titulo-container {
  height: 600px; /* Ajusta la altura según sea necesario */
}
 
@include cuadro-inicio();
@include cuadro-iniciodos();

body {
  font-family: 'Caladea', Arial, sans-serif;
  background: $fondo; 
  background-size: cover; /* Ajusta el tamaño para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  transition: background-position 0.3s ease-out;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; 
  z-index: 0; 
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }
}

main {
  margin: auto 0;
  background-color: #1b262c;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 16px;
  background-color: transparent;
  height: 100px;
  transition: height 0.35s, background-color 0.35s, font-size 0.35s;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  color: $secondary-color;
  text-decoration: none;
  font-family: 'Caladea', Arial, sans-serif;
  margin-left: 15px;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-scrolled {
  font-size: 16px; /* Ajusta el tamaño de fuente deseado */
  background-color: #814256 !important; /* Color de fondo cuando se hace scroll */
  height: 60px; /* Ajusta la altura deseada */
}

.navbar-nav {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav-item {
    margin-right: 15px;

    .nav-link {
      color: $secondary-color;
      text-decoration: none;
      padding: 5px 10px;
      &:hover {
        color: lighten($primary, 0%);
      }
    }
  }
}

header {
  font-size: 16px;
  font-family: 'Caladea', Arial, sans-serif;
  position: sticky; /* Cambiado a sticky */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el header esté por encima del contenido */
  transition: background-color 0.9s ease; /* Transición suave para el cambio de color */
}

nav img {
  max-height: 70px;
  margin-top: -10px;
} 
.content-flex {
  display: flex;
  font-size: 24px;
  padding: 0;
}

.content-flex span {
  width: 120px;
  text-align: center;
}


p {
  color: $secondary;
}

.titulo h1,
.titulo h2 {
  font-family: 'Caladea', Arial, sans-serif;
} 

h1 {
  font-size: 40px;
  color: $secondary-color;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Sombra del texto */
  -webkit-text-stroke: 1px $secondary-color;
}

h3 {
  color: $secondary-color;
  -webkit-text-stroke: 1px $secondary-color;
}

h2 {
  color: $secondary-color;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.titulo {
  display: flex; /* Cambiado de grid a flex para facilitar el centrado */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 500px; /* Ajusta la altura según sea necesario */
  background-attachment: fixed;
  background-size: cover;
  padding: 35px 0;
  color: #fff;
  text-align: center;
}
 header .divider{
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 1px; /* Ajusta la altura según sea necesario */
  background-color: #2b2b2b; /* Cambia el color según sea necesario */
  margin: auto; /* Ajusta el margen según sea necesario */
  
  
 }


.divider {
  width: 25%;
  margin: 20px auto;
  border: none;
  height: 6px;
  background-color: #814256; 
  opacity: 1;
}

.texto-animado {
  animation: slideInUp 0.6s ease-out both;
  padding: 20px;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.texto-borde {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1.7);
}

.titulo article {
  text-align: center;
  padding: 0 20px; /* Ajusta el espacio interno */
  max-width: 800px; /* Limita el ancho del contenido si es necesario */
  margin: auto; /* Centra el contenido horizontalmente */
}

.card-body {
  
  border-radius: 1px 1px 16px 16px;
}



footer {
  border: 1px solid $secondary;
  text-align: center;
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  background-color: #1b262c;
}

footer h3 {
  width: 100%;
}

footer div {
  margin-top: 10px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
}

footer img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

footer img:hover {
  transform: scale(1.1);
}
