.nosotros-main {
  min-height: 800px; /* Asegúrate de que esta altura sea necesaria */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px; /* Ajusta según sea necesario */
}

.nosotros article {
  width: 50%;
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
  box-sizing: border-box; /* Asegúrate de que el padding se incluya en el ancho */
}

.nosotros article h1 {
  text-align: center; /* Centra el título */
}

.nosotros article p {
  font-size: 20px; /* Reduce el tamaño del texto para que sea más legible */
  text-align: justify;

}

.nosotros article img {
  @extend .borde;
  display: block; 
  max-width: 100%; 
  height: auto; 
  margin: 0 auto;
}
