body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b262c;
  color: #ffffff;
  height: 100%;
}

.about-section {
  background-color: #f5f5f5;
  padding: 9rem;
  height: 100vh;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 30px;
  color: #1b262c;
  text-align: left;
  margin-bottom: 20px;
}
 
 .text h2 .divider {
  margin-left: 0px;
  width: 20%
 } 


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  height: 65vh;

}

.text {
  flex: 1;
  min-width: 300px;
  padding-right: 20px;
  color: #333;
}

.text p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 20px;
}

.image-container {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(129, 66, 86, 0.5) 0px 7px 29px 0px;
}

h2.definiciones {
  text-align: center;
  margin: 1rem;
  padding: 5rem;
  height: 1rem;
}

.instru {
  height: 100vh;
  padding: 0rem;
}