.nosotros-main {
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.nosotros article {
  width: 50%;
  padding: 20px;
  box-sizing: border-box; 
}

.nosotros article h1 {
  text-align: center; 
}

.nosotros article p {
  font-size: 20px; 
  text-align: justify;

}

.nosotros article img {
  @extend .borde;
  display: block; 
  max-width: 100%; 
  height: auto; 
  margin: 0 auto;
}
