h2.productos {
    text-align: center;
    margin: 1rem;
    padding: 3rem;
    height: 1rem;
  }
 
  .carousel-control-prev {
    left: 10rem;
}

.carousel-control-next {
  right: 10rem;
}

.carousel-indicators {
  position: relative;

}

.carousel-indicators [data-bs-target] {
  bottom: 20px;
  height: 6px;
  left: -3px;
  background-color: #814256;
  margin-bottom: -1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(52%) sepia(42%) saturate(393%) hue-rotate(289deg) brightness(92%) contrast(92%);
}

.articles .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* Mostrar carrusel de escritorio en pantallas grandes */
@media (min-width: 992px) {
  #aprendemos {
    display: block;
  }

  #aprendemosdos {
    display: none;
  }
}

/* Mostrar carrusel móvil en pantallas más pequeñas */
@media (max-width: 991.98px) {
  #aprendemos {
    display: none;
  }

  #aprendemosdos {
    display: block;
  }
}

/* Ajuste de columnas en pantallas pequeñas */
@media (max-width: 576px) {
  .articles .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}