 /* h1.productos {
    margin: auto;
  }
  
  .productos article {
    width: 33%;
    text-align: center;
    float: left;
    height: 600px;
  }
  
  .productos img {
    max-height: 450px;
    max-width: 450px;
    border-radius: 20px;
  }
  
  .main-productos {
    text-align: center;
  }*/
  h2.productos {
    text-align: center;
    margin: 1rem;
    padding: 3rem;
    height: 1rem;
  }
 