#servicios {
  background-color: #f5f5f5; /* Fondo blanco */
  color: #333333; /* Color del texto principal para buen contraste */
  padding: 9rem;
}

#servicios h2, #servicios h2, #servicios p, #servicios ul, #servicios li {
  color: #333333; /* Asegura un buen contraste con el fondo blanco */
}

.servicios_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.div-servicios h2 {
  text-align: center;
  color: #1b262c; /* Color más oscuro para el encabezado */
}

h2 .divider {
  width: 6%;

}



.lista {
  font-size: 18px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 24px;
  color: #ffffff;
  background-color: #814256; /* Color destacado para el encabezado */
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.card-body {
  font-size: 16px;
  color: #333;
}

.card {
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Transiciones para mejorar la apariencia */
html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .servicios_card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 13px;
    padding: 14px;
}

.lista {
  font-size: 15px;
  margin: auto;
  padding: 5px;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
}

