.borde {
    border: solid black;
    border-radius: 20px;
}

@mixin cuadro-inicio() {
    .inicio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5px;
        .card {
            width: 99%;
            @extend .borde;
            &-img-top {
                max-height: 500px;
                max-width: 623px;
                margin: auto;
                border-radius: 18px 18px 0px 0px;
            }
            &-body {
                font-size: 20px;
            }
        }
    }
}