

  @mixin cuadro-iniciodos() {
    :root {
      --background: #1b262c;
      --text: #F8F8FF;
  }

  html {
      scroll-behavior: smooth;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      font-size: 16px;
      font-family: 'Caladea', Arial, sans-serif;
      height: 100vh;
      padding: 6rem 2rem;
      background: var(--background);
  }
  
  .articles {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      max-width: 1200px;
      gap: 5rem;
      padding: 2rem;
  }
  
  .articles article {
      max-width: 20rem;
      width: 100%;
      cursor: pointer;
      position: relative;
      display: block;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: rgba(129, 66, 86, 0.5) 0px 7px 29px 0px;
  }
  
  .articles article h2 {
      margin: 0 0 0.5rem 0;
      font-size: 1.6rem;
      color: var(--text);
      transition: color 0.3s ease-out;
      text-align: center;
  }
  
  
  .articles article img {
      max-width: 100%;
      transform-origin: center;
      transition: transform 0.9s ease-in-out;
      height: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      object-fit: cover;
  }
  .articles article p {
    color: var(--text);
}
  
  .articles article:hover img {
      transform: scale(1.5);
  }
  
  .article-preview {
      padding: 1.5rem;
      background: #814256;
      height: 19rem;
  }
  
  .articles figure {
      width: 100%;
      height: 14rem;
      overflow: hidden;
      height: 25rem;
      margin: auto;
  }
  }