$fondo: url('../img/fondo_1.jpg');
$fondo-menu: linear-gradient(rgb(118 110 110 / 55%),rgba(0, 0, 0, 0));


$primary:   #FFF !default;
$secondary: #000000 !default;

$theme-color: () !default;

$theme-color: map-merge(
( 
    "primary":   $primary,
    "secondary": $secondary,
) ,
$theme-color
);     

$border-color: black;
$border-radius: 20px;
$card-max-width: 623px;
$card-max-height: 620px;
$card-font-size: 20px;
$primary-color: #000;
$secondary-color: #fff;
$navbar-bg-color: rgba(118, 110, 110, 1); /* Color inicial */
$navbar-bg-color-light: rgba(118, 110, 110, 0.5); /* Color intermedio */
$navbar-bg-color-transparent: rgba(118, 110, 110, 0); /* Color final transparente */