$fondo: url('../img/2000_5ccaaea221073.jpg');



$primary:   #eedde2;; 
$secondary: #000000 ;

$theme-color: () ;

$theme-color: map-merge(
( 
    "primary":   $primary,
    "secondary": $secondary,
) ,
$theme-color
);    

$border-color: #ccc;
$border-radius: 8px;
$card-max-height: 300px;
$card-max-width: 100%;
$card-font-size: 16px;


$primary-color: #000;
$secondary-color: #fdfdfd;
$navbar-bg-color: rgba(118, 110, 110, 1); /* Color inicial */
$navbar-bg-color-light: rgba(118, 110, 110, 0.5); /* Color intermedio */
$navbar-bg-color-transparent: rgba(118, 110, 110, 0); /* Color final transparente */