/* _inicio.scss */

@media (max-width: 600px) {
    /* Estilos para la barra de navegación móvil */
    .navbar-brand {
      justify-content: center;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .navbar-toggler {
      margin: 0 auto 10px;
      border: solid black;
    }
  
    .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }
  
    .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }
  
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 10px 20px;
          font-size: 1.2rem;
          width: 100%;
          text-align: center;
        }
      }
    }
  
    /* Estilos para la sección de título */
    section.titulo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    h1 {
      font-size: 40px;
      color: $secondary-color;
    }
  
    .texto-borde {
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 1.7);
    }
  
    /* Estilos para la sección de inicio */
    section.inicio {
      grid-template-columns: 1fr;
      padding: 27px;
      gap: 20px;
    }
  
    section.inicio img {
      max-width: 100%;
    }
  
    body {
        background: url(../img/2000_5ccaaea221073.jpg);
        background-size: cover;
        background-position: center;
        transition: background-position 0.3s ease-out;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }
  
  }
  